*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
body{
    position: relative;
    text-align: center;
    font-size: 12px;
    background:#BFE4EB;
}
.header{
    width: 100%;
    height: 50px;
    background: #fff;
    box-shadow: 0 2px 5px #ccc;
    position: fixed;
    top:0;
    background: rgba(255,255,255,0.99);
}
.header .container{
    width: 1170px;
    height: 100%;
    margin: 0 auto;

}
.container a{
    text-decoration: none;
    color: #212220;
    font-size: 15px;
}
.title{
    display: inline-block;
    width: 300px;
    height: 100%;
    float: left;
    line-height: 50px;
}
.search{
    width: 300px;
    height: 100%;
    display: inline-block;
    float: right;
    line-height: 50px;
}
.search button{
    border: none;
    background: #2ea7e0;
    padding: 4px;
    color: #fff;
    cursor: pointer;
    outline: none;
    cursor: pointer;
}
.search input{
    outline: none;
    height: 24px;
    border:1px solid #ccc;
    text-indent: 10px;
}

.nav{
    width: 500px;
    height: 100%;
    line-height: 50px;
    margin:0 auto;
}

.nav li{
    width: 80px;
    height: 100%;
    float: left;
    text-align: left;
}


.main{
    background: url('https://img.t.sinajs.cn/t6/skin/skin001/images/body_bg_page.jpg?id=1410943047113') no-repeat top center;
    padding-top: 20px;
    margin-top: 50px;
}
/*content区域*/
.content{
    width: 1000px;
    margin:0 auto;
    /*position: absolute;*/
    /*position: relative;*/
}
.content::after{
    content: "";
    display: block;
    clear: both;
}
.content-left,
.content-right{
    box-sizing: border-box;
    padding: 0 0 0 0;
}
.content .content-left{
    width: 66%;
    float: left;
}

.content-right{
    width: 32%;
    float: right;
}

.right-module{
    width: 97%;
    margin-left: 4%;
    background: #ffffff;;
    color: #333;
    text-align: left;
    font-size: 14px;
    box-sizing: border-box;
    border:1px solid #eee;
    padding: 10px 15px 20px 15px;
    border-radius: 2px;
    margin-bottom: 20px;
}
/*随机标签*/
.right-module .tags{
    line-height: 30px;
}

/*热门文章*/
.right-module .item{
    height: 32px;
    margin-bottom: 3px;
}
.right-module .sort{
    display: inline-block;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    background:#edefee;
    border-radius:50%;
    margin-right: 5px;
}
#new-hot .first{
    background: #e24d46;
}
#new-hot .second{
    background: #2ea7e0;
}
#new-hot .third{
    background: #6bc300;
}


.random-tags{
    font-size: 18px;
    padding: 0 0 10px 0;
    cursor: pointer;
    color: #383937;
    line-height: 30px;
    border-bottom:1px solid #e8e9e7;
    margin-bottom: 10px;
}

.right-module a{
    color: #787977;
    display: inline-block;
    box-sizing: border-box;
    padding: 3px 0;
    font-size: 14px;
}
.right-module a:hover{
    color: #FFC330;
    text-decoration: underline;
}


/* 最新评论*/
.right-module ul li{

}
.right-module ul li::after{
    display: inline-block;
    content: '';
    width: 100%;
    height: 1px;
    background: #e8e9e7;
}
.right-module ul li .user-name{
    color: #01aaed;
    font-size: 15px;
}
.right-module ul li .user-name .comm-time{
    position: relative;
    color:#787977;
    right: -49%;
    font-size:13px;
}
.right-module ul li .user-comments{
    color: #808080;
    cursor: pointer;
    font-size: 12px;
    line-height: 25px;
}

/*友情链接*/
.right-module span.link {
    display: inline-block;
    width: 45%;
    margin:2px 0;
}
.right-module span.link a{
    color: #000;
}
.footer{
    width: 100%;
    background: #f8f8f8;
    padding: 20px 0px;
    color: #a2a2a2;

}
.footer p{
    line-height:30px;
}
.footer p a{
    color: #999;
}

/*分页组件样式*/
.page-tools{
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
}

.page-tools ul li {
    list-style: none;
    width: 35px;
    height: 35px;
    background: white;
    margin: 0px 10px;
    line-height: 35px;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    border-radius:5px;
    border:1px solid #e8e8e8;
    color:#999;
    transition:border-color .2s linear;
}
.page-tools ul li:hover{
    /*background: #fefefe;*/
    border:1px solid #ccc;
}
.page-tools ul li.curpage{
    color:#666;
    background: linear-gradient(to bottom right,#FFD000,#FFBD00);
}

.clearfix{
    display: block;
    content: "";
    clear: both;
}


