.intro{
    width: 100%;
    background: white;
    box-sizing: border-box;
    padding: 20px 15px 20px 20px;
    text-align: left;
    box-shadow:3px 4px 5px #888888;
}
.intro p{
    padding:8px 0;
}
.blog-comments{
    width: 100%;
    text-align: left;
    background: white;
}
.blog-comment-msg{
    display: inline-block;
    width: 100%;
    margin-top: 15px;
    box-sizing: border-box;
    padding: 0px 20px 15px;
    font-size: 14px;
    border-bottom: 1px dotted #787977;
}

.blog-comment{
    padding: 10px 20px 0px;
    line-height: 30px;
    border-bottom: 1px dotted #787977;
    color: #515250;
}
.blog-comment b{
    color:#01aaed;
}
.blog-comment .c-reply{
    color:#009688;
    font-size: 13px;
    cursor: pointer;
}
.blog-comments #more{
    width: 100%;
    box-sizing: border-box;
    height: 45px;
    line-height: 40px;
    font-size: 14px;
    color:#999;
    text-align: center;
    cursor: pointer;
}
